@use "sass:math";
@import "sass/function";

/*
 * Created by MiiMii1205
 * license MIT
 */

$td-enable-google-fonts: true;

$firefighter: #DB2626;
$police: #0F75BC;
$paramedic: #1E962E;
$civil: #DAA215;
$general: #0F111D;

$blue: $police;
$red: $firefighter;
$green: $paramedic;
$yellow: evaluateColor(#DEC959, $red, $green);

$purple: mix(evaluateColor(mix($blue, $red), $red, $green), #F0F, 80%);
$indigo: mix($purple, $blue);
$pink: mix(evaluateColor(mix($purple, $red), $red, $green), mix(white, $red, 75%));

$orange: mix($red, $yellow);
$teal: mix($green, $blue);
$cyan: mix(mix($teal, $blue), #0FF);

$white: #FFF;
$black: #000;
$gray: #888;
$gray-dark: #333;

$light: #D3F3EE;
$dark: #403F4C;

$font-family-sans-serif: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$base-transition-duration: .2s;
$base-fade-transition-duration: .15s;
$base-collapse-transition-duration: .35s;

$transition-base: all $base-transition-duration ease-in-out;
$transition-fade: opacity $base-fade-transition-duration linear;
$transition-collapse: height $base-collapse-transition-duration ease;

$numberOfMsg: 10;

@import "~bootstrap/scss/functions";

$primary: $general;
$lightnessDiff: lightness(#0F75BC) - lightness(#113F75);

$secondary: shift-color($primary, $lightnessDiff);
$secondDiff: lightness($primary) - lightness($secondary);
$mix-p: 90% !default;

@if ($secondDiff  <  ($lightnessDiff/2)) {
    $secondary: shift-color($primary, -($lightnessDiff));
}

$danger: mix($red, mix(mix($red, $civil), $orange));
$warning: mix($civil, mix(mix($red, $civil), $orange), 65%);
$success: mix(mix($civil, $blue), $green);
$info: mix(mix($success, $blue, 25%), $cyan);

$yiq-contrasted-threshold: 150 !default;

$body-bg: transparent;
$body-color: color-contrast(#343A40, black, white, 4.5);

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/spinners";

@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

html, body {
    @extend .vh-100, .vw-100;
}

.msg-container {
    @extend .position-absolute, .flex-column-reverse, .d-flex, .container-fluid;
    $base-bg-color: $black;
    $transp-bg-color: rgba($base-bg-color, 0);
    
    background-clip: content-box;
    $padding-msg: 2 * 100% / $grid-columns;
    
    background-image: linear-gradient(0deg, transparentize($base-bg-color, 0.5) 0, transparentize($base-bg-color, 1-0.025) 90%, $transp-bg-color 100%);
    
    bottom: 0;
    color: color-contrast($base-bg-color);
    height: auto;
    left: 0;
    margin-left: $padding-msg;
    opacity: 1;
    overflow: visible;
    padding-right: 0;
    transition: $transition-fade;
    width: 100% - $padding-msg;
    
    &:empty {
        opacity: 0;
    }
}

.msg-row {
    @extend .row, .g-0, .d-flex, .flex-row, .px-2, .align-items-baseline;
    $msg-padding: $spacer * 0.125;
    
    &:first-child {
        margin-bottom: $msg-padding
    }
    
    & > * {
        @extend .d-none;
        
        opacity: 0;
        transition: $transition-fade;
        
        p {
            @extend .mb-0;
        }
    }
    
    & *:first-child {
        
        margin-right: $msg-padding
    }
    
    // Makes a nice fadeout effect
    @for $i from 1 through $numberOfMsg {
        
        &:nth-child(#{$i}) {
            
            padding-bottom: $msg-padding / 2;
            padding-top: $msg-padding / 2;
            
            & > * {
                
                display: initial !important;
                opacity: math.clamp(0, 1, 1 - ($i/($numberOfMsg+1)));
            }
        }
    }
    
    // For timestamps
    time {
        @extend .small;
    }
    
}

.emoji {
    @extend .mx-1, .my-0;
    
    height: $font-size-base;
    width: $font-size-base;
}